<!DOCTYPE html>
	<head>
		<title>Website</title>
	</head>
	<body>
		<div style="border: 1px solid #000">
			<h1>Demo</h1>
			$ {
				HTML("<h2>Hi, %s</h2>", name);
			}
		</div>
		
		$ {
			HTML("Number of items: %i", cnt);
			for (int i = 0; i < cnt; i++) {
				HTML("
					<p>Item № %i</p>
				", i + 1);
			}
		}
	</body>
</html>
